* {
  margin: 0;
  padding: 0;
  font-family: 'Monaco', Monospace ;
  height: max-content;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(251, 231, 115);
}

.head {
  position: relative;  
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for the blur effect */
  backdrop-filter: blur(10px); /* Blurs the background */
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.head h1 {
  color: black;
  font-size: 4em;
  text-align: center;
  letter-spacing: 2px;
}

button {
  margin: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(237, 175, 95);
  border-radius: 25px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
}

.card {
  position: relative;
  width: 150px;
  height: 150px; 
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flipped .front {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  border-radius: 10px;
}

.front {
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(0deg);
}

p {
   margin-top: 15px;
   margin-bottom: 30px;
}

.ref {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(237, 175, 95);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .head h1 {
    font-size: 2.5em;
  }

  .card-grid {
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
  }

  .card {
    width: 100px;
    height: 100px;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .ref {
    font-size: large;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .head h1 {
    font-size: 2em;
  }

  .card-grid {
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
  }

  .card {
    width: 70px;
    height: 70px;
  }

  button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .ref {
    font-size: medium;
  }
}